<h1>Latest Spotify Items</h1>

<% if @items.any? %>
  <ul>
    <% @items.each do |item| %>
      <li>
        <h3><%= item[:title] %></h3>
        <p>Release date: <%= item[:release_date] %></p>
        <% if item[:img] %>
          <img src="<%= item[:img] %>" alt="<%= item[:title] %>" width="200">
        <% end %>
        <p><%= link_to "Listen on Spotify", item[:link], target: "_blank" %></p>
      </li>
      <hr>
    <% end %>
  </ul>
<% else %>
  <p>Could not fetch items.</p>
<% end %>
