<p style="color: green"><%= notice %></p>

<% content_for :title, "Authors" %>

<h1>Authors</h1>

<div id="authors">
  <% @authors.each do |author| %>
    <%= render author %>
    <p>
      <%= link_to "Show this author", author %>
    </p>
  <% end %>
</div>

<%= link_to "New author", new_author_path %>
<br>
<br>
<%= link_to "Pokaż ostatnie filmy z YouTube", fetch_latest_authors_path, class: "btn btn-primary" %>

